/* Import the custom font */
@font-face {
    font-family: 'Kollektif';
    /* Name of the font */
    src: url('./src/font/Kollektif.ttf') format('ttf');
    /* Path to the font file */
    font-weight: normal;
    /* Specify the font weight */

}

@font-face {
    font-family: 'Kollektif';
    /* Name of the font */
    src: url('./src/font/Kollektif-Bold.ttf') format('ttf');
    /* Path to the font file */
    font-weight: bold;
    /* Specify the font weight */

}

.font-bold {
    font-family: 'Kollektif', sans-serif;
    /* Use the custom font */
    font-weight: bold;
}

body {
    cursor: url('./src/cat-hand.cur'), auto;
    /* Use custom cursor image */

    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent scrollbars */
}

/* Apply the custom font to specific elements */
h1,
h2,
h3,
p,
.font {
    font-family: 'Kollektif', sans-serif;
    /* Use the custom font */
    font-weight: normal;
}

.content {
    flex: 1; /* Allow the content to grow to fill the remaining space */
    padding: 20px;
}
  

/* Style the background image */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./src/Raheel.jpg');
    /* Specify the path to your image */
    background-size: cover;
    /* Cover the entire viewport */
    background-position: center;
    /* Center the image */
    z-index: -1;
    /* Send the background image behind other content */
}

.icons-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    padding: 10px;
    right: 20px; /* Adjust the distance from the right edge */
    top: 20px; /* Adjust the distance from the top edge */
    width: 100px;  /* Adjust the width as needed */
}

.icons-text:hover{
    background-color: rgba(0, 0, 0, 0.445);

}

/* Style the icon */
.icons-text img {
    width: 100px;   /* Adjust the size of the icon */
    height: auto; /* Maintain aspect ratio */
}

/* Style the text */
.icons-text span {
    margin-top: 5px;  /* Adjust spacing between the icon and text */
    font-size: 24px;  /* Adjust font size as needed */
    color: white;
}


footer {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    background-color: #333;
    color: #fff;
    padding: 10px 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
}

footer .item {
    display: flex; /* Use flexbox layout for items */
    align-items: center; /* Align items vertically in the center */
    
    
}

footer .icons{
    display: flex; /* Use flexbox layout for items */
    position: fixed;
    right: 20px;

}

footer .icon {
    width: 30px;
    padding: 0 10px; /* Adjust padding as needed */
    
}




/*______________RESPONSiVENESS SETTINGS______________*/

/* Adjust sizes and positions for tablet view */
@media screen and (max-width:  768px) {
    .icons-text {
      right: 10px; /* Adjust position from the right edge */
      top: 10px; /* Adjust position from the bottom edge */
      width: 80px; /* Adjust width */
    }
  
    .icons-text img {
      width: 40px; /* Adjust size of the icon */
    }
  
    .icons-text span {
      font-size: 16px; /* Adjust font size */
    }
  }
  
  /* Adjust sizes and positions for phone view */
  @media screen and (max-width: 480px) {
    .icons-text {
      right: 20px; /* Adjust position from the right edge */
      top: 20px; /* Adjust position from the bottom edge */
      width: 100px; /* Adjust width */
    }
  
    .icons-text img {
      width: 80px; /* Adjust size of the icon */
    }
  
    .icons-text span {
      font-size: 16px; /* Adjust font size */
    }
  }