/* *{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  padding: 0px 20px 0px 20px;
  margin: auto;
} */

/* Import the custom font */
@font-face {
  font-family: 'Kollektif'; /* Name of the font */
  src: url('./src/font/Kollektif.ttf') format('ttf'); /* Path to the font file */
  font-weight: normal; /* Specify the font weight */

}
@font-face {
  font-family: 'Kollektif'; /* Name of the font */
  src: url('./src/font/Kollektif-Bold.ttf') format('ttf'); /* Path to the font file */
  font-weight: bold; /* Specify the font weight */

}

/* Apply the custom font to specific elements */
h1, p {
  font-family: 'Kollektif', sans-serif; /* Use the custom font */
  font-weight: normal;
}

.font_bold{
  font-family: 'Kollektif', sans-serif; /* Use the custom font */
  font-weight: bold;
}


body{
  cursor: url('./src/icons8-cat.gif'), auto; /* Use custom cursor image */
}

textarea {
  display: block;
  border: 1px solid #BBB;
  color: #444;
  font-size: 110%;
}

button {
  margin-top: 10px;
}

/*Styling link*/
/* Style regular links */
a {
  color: #040F1E; /* Change link color */
  text-decoration: none; /* Remove underline */
}

/* Style visited links */
a:visited {
  color: #040F1E; /* Change color of visited links */
}

/* Style hovered links */
a:hover {
  color: #9E6240; /* Change color when hovered */
  text-decoration: none; /* Add underline on hover */
}

/* Style active links */
a:active {
  color: rgb(71, 124, 71); /* Change color when clicked */
  text-decoration: none; /* Remove underline */
}

/*hover highlight animation https://www.youtube.com/watch?v=3VQr2r0z-ZM&ab_channel=NetNinja*/
.highlight{
  display: inline-block;
  cursor: pointer;
  background-image: linear-gradient(#BBD686,#BBD686);
  background-repeat: no-repeat;
  background-size: 10px 100%;
  background-position: 0 0;
  transition: background-position 0.3s ,background-size 0.5s;
}

.highlight:hover{
  background-size: 100% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ,background-size 0.2s 0.3s;

}

/*horizontal slider from chatGPT*/
/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* horizontal slider */
.carousel-container {
  width: 70%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 1s ease, scrollLeft 1s ease; /* Add transition for smooth scrolling */

}

.carousel-item {
  flex: 0 0 auto;
  width: 300px; /* Set width of each item */
  height: 400px; /* Set height of each item */
  margin: 0 20px; /* Add margin between items */
  background-color: rgb(193, 226, 155);
}
